.user-land-page {
  min-height: 100vh;
  position: relative;
  letter-spacing: 3px;
  grid-template-rows: 90% 10%;
  background: $dark-color;

  .bg-image {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 0.8;
  }

  .song-content {
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 80%;
    color: $font-color;

    a {
      transition: 1s;
    }

    .song-cover {
      position: relative;

      .audio-player {
        height: 95%;
        width: 95%;
        margin: 10px;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        opacity: 0;

        &:hover {
          opacity: 1;
        }

        audio {
          display: none;
        }

        .audio-btns {
          button {
            width: 300px;
            height: 300px;
          }
          i {
            color: $font-color;
            font-size: 50px;
          }
        }
      }
    }

    .song-cover-image {
      height: 400px;
      border-radius: 3px;
    }

    .song-information {
      height: 100%;
      text-align: center;
      justify-self: center;
      align-self: center;
      width: 100%;

      .song-main-artist {
        font-size: 35px;
      }

      .song-title {
        line-height: 60px;
        font-size: 45px;
      }

      .song-links {
        font-size: 45px;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(75px, 0));
        grid-gap: 100px;

        .spotify {
          a:hover {
            color: $spotify;
          }
        }
        .apple {
          a:hover {
            color: $apple-music;
          }
        }
        .deezer {
          a:hover {
            color: $deezer;
          }
        }
        .soundcloud {
          a:hover {
            color: $soundcloud;
          }
        }

        .youtube {
          a:hover {
            color: $youtube;
          }
        }
      }
    }

    .artist-social-links {
      margin-top: 50px;
      font-size: 35px;
      grid-gap: 40px;
      align-self: flex-end;
      grid-template-columns: repeat(4, 1fr);

      .instagram {
        a:hover {
          color: $instagram;
        }
      }
      .tiktok {
        a:hover {
          color: $tiktok;
        }
      }
      .website {
        a:hover {
          color: $dark-color;
        }
      }

      .facebook {
        a:hover {
          color: $facebook;
        }
      }
    }
  }
}
