.no-projects {
  align-self: start;
  color: $title-color;
  line-height: 80px;
  font-size: 40px;
  margin-top: 80px;
}

@media only screen and (max-width: 1672px) {
  .no-projects {
    font-size: 35px;
  }
}
