.profile-social-links {
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  font-size: 40px;
  width: 100%;
  grid-gap: 20px;

  a {
    transition: 1s;
  }

  .spotify-profile > a:hover {
    color: $spotify;
  }

  .instagram-profile > a:hover {
    color: $instagram;
  }

  .facebook-profile > a:hover {
    color: $facebook;
  }

  .tiktok-profile > a:hover {
    color: $tiktok;
  }

  .youtube-profile > a:hover {
    color: $youtube;
  }
  .website-profile > a:hover {
    color: $primary-color;
  }
}
