@import './assets/colors';
@import './assets/base';
@import './assets/reset';
@import './assets/fonts';
@import './assets/animation';

@import './pages/home/home';
@import './pages/new-project/new-project';
@import './pages/user-land-page/user-land-page';
@import './pages/login/login';
@import './pages/sign-up/sign-up';
@import './pages/menu/menu';
@import './pages/user-projects/no-projects/no-projects';
@import './pages/user-projects/projects/projects';
@import './pages/profile/profile';
@import './pages/profile/profile-info/profile-info';
@import './pages/profile/profile-social-links/profile-social-links';
@import './pages/account-settings/account-settings.scss';
@import './pages/new-project/music-links/music-links';
@import './pages/new-project/social-links/social-links';
@import './pages/error-page/error-page.scss';

@import './components/header/header';
@import './components/footer/footer';
@import './components/logo/logo';
@import './components/button/button';
@import './components/input/input';
@import './components/facebook/facebook';
@import './components/google/google';
@import './components/user-link-input/user-link-input';
@import './components/artist-link/artist-link';
@import './components/loading/loading';
@import './components/project/project';
@import './components/error-message/error-message.scss';
@import './components/toast/toast.scss';

.app {
  .home {
    .dashboard {
      position: relative;
      width: 100vw;
      min-height: 70vh;
      text-align: center;
      grid-template-columns: 1fr 3fr 1fr;
      display: grid;

      .user-workspace {
        position: relative;
      }
    }
  }
}

@media only screen and (max-width: 1672px) {
  .app {
    .home {
      .dashboard {
        grid-template-columns: 20% 60% 20%;
      }
    }
  }
}
