.menu {
  width: 100%;
  position: relative;
  display: grid;
  grid-gap: 40px;
  margin-top: 20px;
  align-self: start;

  a {
    text-align: start;
  }

  button {
    font-size: 25px;
    color: $font-color;
    margin: 0 60px;

    &:hover {
      animation: wiggle ease-in-out 1s;
    }
  }

  .settings-btn {
    align-self: end;
  }
}
