.menu {
  width: 100%;
  display: grid;
  grid-gap: 40px;
  margin-top: 20px;
  align-self: start;

  a {
    text-align: start;
  }

  button {
    font-size: 25px;
    color: $title-color;
    margin: 0 60px;

    &:hover {
      animation: wiggle ease-in-out 1s;
    }
  }

  .settings-btn {
    align-self: end;
  }

  .logout-btn {
    position: fixed;
    bottom: 50px;

    &:hover {
      color: $dark-color;
      animation: unset;
    }
  }
}
