.dashboard {
  width: 100vw;
  grid-template-columns: 1fr 9fr;

  .execute-btn {
    width: 300px;
    font-size: 20px;
    color: $primary-color;
    padding: 15px;
    background: $font-color;
    border-radius: 25px;
    margin: 40px 0;

    &:hover {
      background: $green;
    }
  }
}
