// $primary-color: #2d00f7;
$primary-color: #090b0c;
$title-color: #f5cb5c;
$font-color: #f7fff7;
$green: #13e772;
$red: #e71d36;
$dark-color: black;
$grey: #8b907a;

//social
$facebook: #4188ff;
$soundcloud: #fe5000;
$tiktok: #ee1d52;
$instagram: #c13584;
$spotify: #1db954;
$deezer: #feaa2d;
$apple-music: #a3aaae;
$youtube: #ff0000;
