.sign-up {
  position: absolute;
  top: 15vh;
  left: 35vw;
  height: fit-content;
  max-height: 80%;
  width: 30vw;
  background: $font-color;
  box-shadow: 0px 0px 55px 3px rgba(0, 0, 0, 0.55);

  .close-icon {
    position: absolute;
    top: 30px;
    right: 35px;
    font-size: 25px;
    transition: 1s;
    cursor: pointer;

    &:hover {
      color: $title-color;
    }
  }

  .sign-up-content {
    grid-gap: 50px;
    display: grid;
    margin: 40px;

    .sign-up-input {
      display: grid;
      grid-gap: 10px;
    }

    h1 {
      font-size: 50px;
    }

    button {
      font-size: 25px;
      background: $primary-color;
      color: $font-color;
      width: 50%;
      justify-self: center;
      border-radius: 25px;
      padding: 10px 0;

      &:hover {
        background: $title-color;
      }
    }
  }
}

@media only screen and (max-width: 1672px) {
  .sign-up {
    .sign-up-content {
      grid-gap: 35px;
    }
  }
}
