.login {
  position: absolute;
  top: 10vh;
  left: 25vw;
  height: 80vh;
  width: 50vw;
  background: $font-color;
  grid-template-columns: repeat(2, 1fr);

  .close-icon {
    position: absolute;
    top: 30px;
    right: 35px;
    font-size: 25px;
    transition: 1s;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }

  .login-manual {
    height: 80%;
    width: 100%;
    border-right: 1px solid grey;

    .login-box {
      height: 60%;
      display: grid;

      .login-title {
        font-size: 40px;
      }

      .login-btn {
        height: 50px;
        background: $primary-color;
        color: $font-color;
        transition: 1s;

        &:hover {
          background: $dark-color;
        }
      }
    }
  }

  .login-social {
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
