.login {
  position: absolute;
  top: 22vh;
  left: 38vw;
  height: 55vh;
  width: 25vw;
  background: $font-color;

  .close-icon {
    position: absolute;
    top: 30px;
    right: 35px;
    font-size: 25px;
    transition: 1s;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }

  .login-manual {
    height: 80%;
    width: 100%;
    border-right: 1px solid grey;

    .login-box {
      height: 100%;
      width: 80%;
      display: grid;

      .login-title {
        font-size: 50px;
      }

      .login-btn {
        height: 50px;
        background: $primary-color;
        color: $font-color;
        transition: 1s;
        align-self: center;

        &:hover {
          background: $dark-color;
        }
      }
    }
  }

  // .login-social {
  //   grid-gap: 20px;
  //   grid-template-columns: repeat(2, 1fr);
  // }
}
