.home {
  .middle {
    position: relative;
    width: 100vw;
    min-height: 70vh;
    position: relative;
    text-align: center;

    .main-page-title {
      color: $title-color;
      font-size: 100px;
      line-height: 1.5em;
      margin: 0 15vw;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .home {
    .middle {
      .main-page-title {
        font-size: 80px;
      }
    }
  }
}
