.home {
  background: $primary-color;

  .middle {
    position: relative;
    width: 100vw;
    min-height: 75vh;
    position: relative;
    text-align: center;

    .main-page-title {
      color: $font-color;
      font-size: 100px;
      margin: 0 20vw;
    }
  }
}
