.acount-settings {
  color: $title-color;
  text-align: start;
  position: relative;
  display: grid;

  .acount-settings-title {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .edit-profile-btn {
    position: absolute;
    top: 0;
    color: $title-color;
    font-size: 40px;
    right: 0;

    &:hover {
      color: $font-color;
    }

    &:active {
      font-size: 35px;
    }
  }

  .account-info {
    font-size: 25px;
    display: grid;
    grid-gap: 30px;
    margin-bottom: 30px;

    .account-private-info {
      display: grid;
      grid-gap: 30px;

      .image-upload {
        span {
          font-size: 17px;
        }
      }

      .save-profile-btn {
        color: $primary-color;
        justify-self: center;
        padding: 10px 30px;
        font-size: 22px;
        background: $title-color;
        border-radius: 25px;
        opacity: 1;

        &:hover {
          background: $font-color;
        }

        &:disabled {
          opacity: 0.3;
        }
      }
    }

    .account-input {
      display: grid;
      grid-template-columns: 1fr 3fr;

      input {
        width: 50%;
        color: $primary-color;
        font-size: 20px;
        border: none;
        padding: 0 20px;
        height: 40px;
        border-radius: 4px;

        &:disabled {
          opacity: 0.8;
        }
      }
    }
    .delete-user-btn {
      color: $font-color;
      font-size: 20px;
      background: $red;
      justify-self: start;
      padding: 10px;
      border-radius: 4px;
      transition: 0.4s;

      &:hover {
        border-top: 3px solid $font-color;
        border-right: 3px solid $font-color;
      }

      &:active {
        border: none;
      }
    }

    .error-message {
      font-size: 18px;
    }
  }

  .delete-user-toast {
    top: 36%;
    left: 28%;
  }

  .save-success-toast {
    top: 55%;
    left: 38%;
  }
}
