.social-links {
  align-self: start;
  margin: 10px;
  grid-gap: 20px;

  h1 {
    justify-self: start;
    margin-left: 50px;
  }
  .social-link {
    .link-error {
      justify-self: start;
      margin: 10px 0 0 50px;
    }
  }
}
