.header {
  height: 15vh;
  width: 100%;
  grid-template-columns: 70% 30%;
  position: relative;

  .logo {
    justify-self: start;
    margin-left: 10%;
    font-size: 50px;
    cursor: pointer;
    &:hover {
      animation: wiggle ease-in-out 1s;
    }
  }

  .login-signup {
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 100%;

    button {
      color: $font-color;
      font-size: 30px;

      &:hover {
        animation: wiggle ease-in-out 1s;
      }
    }
  }

  .signed-in {
    a {
      grid-template-columns: 1fr 4fr;
      margin: 0 60px;
      width: auto;
      grid-gap: 20px;

      .profile-header-name {
        font-size: 25px;
        justify-self: start;
      }

      .profile-icon {
        font-size: 40px;
      }

      img {
        margin-right: 15px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        border: solid $font-color 3px;
        height: 60px;
        width: 60px;
      }
    }
  }
}
