.main {
  background: $primary-color;

  .middle {
    position: relative;
    height: 75vh;
    position: relative;
    margin: 0 20vw;
    text-align: center;

    h1 {
      color: $font-color;
      font-size: 100px;
    }
  }
}
